@charset "utf-8";

html,body,div,ul,li,h2,h3,h4,p,a,button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
ul{
    list-style: none;
}
button{
    all: unset;
    cursor: pointer;
}
img{
    vertical-align: top;    
}
a{
    text-decoration: none;
    color: #000;
}