@charset "utf-8";

/* main1 */
.main1 {
    background-color: #000;
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 20px;
    z-index: 0;
}

/* main1 - decor */
.main1 .moon {
    left: 18.3%;
    bottom: 36.6%;
}
.main1 .cloud1 {
    width: 31vw;
    height: 11vw;
    top: 75%;
    left: 35%;
    z-index: 1;
}
.main1 .cloud2 {
    top: 34vw;
    left: 37vw;
    width: 15vw;
    height: 3.6vw;
}
.main1 .star1 {
    top: 20%;
    left: 24.3%;
}
.main1 .star2 {
    top: 20%;
    right: 6.66%;
}
.main1 .star3 {
    top: 35%;
    left: 4.5%;
}
.main1 .star4 {
    right: 33.69%;
    bottom: 44.9%;
}
.main1 .star5 {
    left: 25.2%;
    bottom: 25.29%;
}
.main1 .star6 {
    bottom: 30%;
    right: 12.4%;
}
.main1 .introimg__center {
    position: relative;
}

/* main2*/
.main2 {
    height: 113vw;
    position: relative;
    padding-top: 10%;
    box-sizing: border-box;
    background-color: #fff;
}
.main2 .decor div {
    position: absolute;
}
.main2 .cloud-divider {
    transform: translateY(-97%);
}
/* main2 - decor */
.main2 .cloud1 {
    top: 11.6%;
    left: 10%;
}
.main2 .cloud2 {
    bottom: 39.1%;
    left: 24.6%;
}
.main2 .cloud3 {
    top: 30.6%;
    right: 3%;
}
.main2 .cloud4 {
    left: 2.7%;
    top: 32.1%;
}
.main2 .cloud5 {
    top: 22.4%;
    left: 2.1%;
}
.main2 .cloud6 {
    right: 34.8%;
    bottom: 44.3%;
}
.main2 .cat {
    left: 38.2%;
    bottom: 3%;
}
.main2 .man {
    left: 0;
    bottom: 3.33%;
}
.main2 .town {
    bottom: 1%;
    right: 0;
}
.main2 .wire {
    top: 5.1%;
    left: 0;
}
.main2 .phone {
    top: 6.8%;
    right: 0;
}
.main2 .bus {
    right: 2.3%;
    bottom: 13.2%;
}

.phone {
    position: absolute;
    right: 0;
}

.plane {
    right: 0;
    top: 24.57%;
    width: 20.625vw;
    height: 6.51vw;
}
.plane-cloud img {
    left: 0;
    bottom: 0;
    width: 40.41vw;
    height: 54.48vw;
    transform-origin: right 39%;
}

/* main3 */
.main3 {
    position: relative;
    height: 112vw;
    background-color: #fff;
    padding-top: 38.28%;
    padding-bottom: 31.09%;
    box-sizing: border-box;
}
/* main3 - decor */
.main3 .wheat {
    top: 14.9%;
    left: 14.4%;
}
.main3 .cone {
    right: 9.4%;
    top: 39.8%;
}
.main3 .apple {
    bottom: 8.1%;
    left: 15.9%;
}
.main3 .frame-round {
    top: 4.6%;
    right: 4.7%;
}
.main3 .frame-square {
    top: 38.6%;
    left: -4.5%;
}
.main3 .frame-diamond {
    bottom: 0;
    right: 5.1%;
}
.main3 .bundle div {
    width: 100%;
    height: 100%;
}

/* main4 */
.main4 {
    background-color: #fff;
}

/* main5 */
.main5 {
    position: relative;
    height: 289vh;
    color: #fff;
    padding-top: 27.5%;
}
.main5 .decor {
    margin: 126px 0;
    background-color: #000;
}
.main5 .wave-top {
    top: 0;
    transform: translateY(-99%);
}
.main5 .wave-bottom {
    bottom: 0;
    transform: translateY(99%);
}
.main5 .wave-decor {
    top: 0;
    transform: translateY(-15%);
}
.main5 .bubble1 {
    left: 5.8%;
    bottom: 36%;
}
.main5 .bubble2 {
    left: 18%;
    top: 9.5%;
}
.main5 .bubble3 {
    top: 14.5%;
    right: 19.5%;
    transform: scale(0.3);
}
.main5 .bubble4 {
    top: 19.4%;
    right: 11.5%;
}
.main5 .shaker {
    bottom: -1.3%;
    right: 5%;
}
.main5 .bartool {
    bottom: 12.3%;
    left: -5.6%;
}
.main5 .spoon {
    bottom: 29.8%;
    right: -6%;
}
.main5 .strainer {
    top: 20.8%;
    left: 2.5%;
}

/* main6 */
.main6 {
    height: 74vw;
    position: relative;
    background-color: #fff;
    padding-top: 4.2vw;
}
/* main6 - decor */
.main6 .grow {
    left: 8%;
    top: 12.8%;
}
.main6 .cherry-l {
    top: 9.9%;
    right: 6.3%;
}
.main6 .cherry-r {
    bottom: 24.9%;
    right: 9.7%;
}
.main6 .fork {
    top: 23.3%;
    right: 6%;
}
.main6 .knife {
    bottom: 38.2%;
    left: 7.4%;
}

/* main7 */
.main7 {
    height: 100vw;
    position: relative;
    background-color: #fff;
    color: #fff;
    padding-top: 4.2vw;
    box-sizing: border-box;
}
.main7 .textbox {
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translateX(-50%);
}
.main7 .textbox__divider img,
.main7 .btn-icon img {
    filter: invert(100%);
}
.main7 .bird {
    left: 9.5%;
    top: 32.4%;
}
.main7 a {
    color: #fff;
}

/* section4 */
.section4 {
    position: relative;
    height: 103.5vw;
    background-color: #fff;
    padding: 40px 0px 180px;
    box-sizing: border-box;
}
