@charset "utf-8";

.introimg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 53vw;
    z-index: 1;
    margin: 0 auto;
    position: relative;
}
.introimg > div {
    width: calc(33.33333% - 70px);
    margin-right: 35px;
    margin-left: 35px;
}
.introimg span {
    color: #fff;
    font-size: 36px;
    white-space: nowrap;
    letter-spacing: -0.8px;
    font-weight: 700;
    position: relative;
    margin-top: 15px;
}
.introimg__center img {
    width: 100%;
}
.introimg__left,
.introimg__right{
    margin-top: 15px;
}
.introimg__left span::before,
.introimg__right span::after {
    content: "";
    position: absolute;
    width: 2vw;
    height: 1px;
    background-color: #fff;
    top: 50%;
}
.introimg__left span::before{
    left: 0;
    transform: translateX(-150%);
}
.introimg__right span::after{
    right: 0;
    transform: translateX(150%);
}


/* #f1793d */






