@charset "utf-8";

.textbox {
    max-width: 1040px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
}
.textbox__img{
    text-align: center;
    padding: 60px 0 30px;
}
.textbox__desc,
.textbox__img,
.textbox__btn {
    margin-left: 6.8vw;
}
.textbox___tit {
    font-family: "SerpAndMolot", sans-serif;
    font-size: 5vw;
    margin-bottom: 2rem;
}
.textbox__desc {
    font-size: 43px;
    line-height: 1.3;
    font-weight: 700;
    text-align: justify;
    letter-spacing: -0.8px;
}
.textbox__divider{
    margin: 50px 0;
}
.textbox__divider img{
    width: 100%;
}
.textbox__btn {
    display: flex;
    align-items: center;
    gap: 23px;
}
.textbox__btn > a {
    display: flex;
    align-items: center;
    gap: 20px;
}
.textbox__btn .btn-icon {
    width: 4vw;
}
.textbox__btn .btn-icon img {
    width: 100%;
}
.textbox__btn .btn-text {
    font-size: 40px;
    white-space: nowrap;
}