@charset "utf-8";
/* 미디어쿼리 */

@media screen and (max-width: 1680px) {
    .brand_bx>.txtbx {
        right: 8%;
    }
    #brand .imgbx {
        width: 430px;
    }
    .menu__slide li{
        width: 310px;
    }
    .new__wrap .txtbx img{
        width: 570px;
    }
    .brand__list li.brand_on strong{
        font-size: 38px;
    }
    .wrapper{
        max-width: 1070px;
    }
}
@media screen and (max-width: 1500px) {
    .util__info{
        padding: 9px 18px;
    }
    .brand_bx .txtbx{
        right: 5%;
    }
    .brand__list li.brand_on strong {
        font-size: 35px;
    }
    .brand__list li strong{
        font-size: 35px;
    }
    .wrapper {
        max-width: 1040px;
}
.new__wrap .txtbx img {
    width: 535px;
}
.new__wrap .txtbx p{
    letter-spacing: normal;
    line-height: 1.7;
    font-size: 19px;
}
}
@media screen and (max-width: 1400px) {
    html{
        font-size: 9px;
    }
    #brand .imgbx {
        width: 380px;
    }
    .wrapper {
        max-width: 980px;
    }
    .brand_stit {
        font-size: 55px;
    }
    .brand_desc{
        font-size: 18px;
    }
    .brand_bx .txtbx {
        right: 0;
    }
    .brand__list li.brand_on strong {
        font-size: 30px;
    }
    .brand__list li strong {
        font-size: 30px;
    }
    .gnb > ul{
        gap:28px;
    }
}
@media screen and (max-width: 1200px) {
    .menu__slide li{width: 280px;}
    .new__wrap .txtbx img{
        width: 470px;
    }
    .new__wrap .txtbx p{
        font-size: 18px;
    }
    .new__wrap > img{
        width: 500px;
    }
    .brand_stit {
        font-size: 50px;
    }
    .brand_desc{
        font-size: 17px;
    }
    .carousel img {
        width: calc(100% / 2);
    }
    .wrapper {
        max-width: 680px;
    }
    #brand .imgbx {
        width: 340px;
    }
    .itembx img{
        width: 250px;
    }
    .gnb ul{
        gap: 10px;
    }
}
@media screen and (max-width: 1110px) {
    #brand .imgbx{
        display: none;
    }
    .brand_bx .txtbx {
        right: 10%;
    }
    .brand__list{
        left: 20%;
    }
    .brand__list li.brand_on>img{
        display: none;
    }
    .brand__list li.brand_on strong,
    .brand__list li strong {
        font-size: 35px;
    }
    .gnb,.util{display: none;}
    .ham{display: block;}
}
@media screen and (max-width: 1024px) {
    .brand__list{
        display: none;
    }
    #brand .txtbx{
        right:20%;
    }
}
@media screen and (max-width: 800px) {
    .menu__slide .itemtxt span {
        opacity: 1;
    }
    .brand_txt{
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
}