@charset "utf-8";

@import url(./reset.css);
@import url(./fonts.css);
@import url(./common.css);

/* visual */
.visual {
    position: relative;
    width: 100%;
    height: 100vh;
}
.visual::after {
    content: "";
    animation: visualBg 1s cubic-bezier(0.2, 0.23, 0.23, 0.99) 3.4s forwards;
}
.visual::after,
.visual .video_wrap,
.visual .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.visual .inner {
    z-index: 1;
}
.visual .video_wrap video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .tit_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #fff;
    /* animation */
    animation: visualTitle 1s cubic-bezier(0.2, 0.23, 0.23, 0.99) 3.4s forwards;
    margin-top: 50px;
    opacity: 0;
    visibility: hidden;
}
.visual .tit_sub {
    margin-bottom: 12px;
    font-size: 29px;
    font-weight: 900;
}
.visual .tit_main {
    margin-bottom: 40px;
    font-size: 98px;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: -4px;
}
.visual .btn_wrap {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.visual .btn_view-video,
.visual .btn_event {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 200px;
    height: 68px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 34px;
}
.visual .btn_view-video {
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid #fff;
    box-sizing: border-box;
}
.visual .btn_view-video.sp::after {
    width: 26px;
    height: 26px;
    background-position: -70px -32px;
}
.visual .btn_event {
    background-color: #58ff70;
    line-height: 68px;
}
.visual .btn_event.sp::after {
    width: 28px;
    height: 28px;
    background-position: -37px 0px;
}
.btn_page-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 19px;
    height: 11px;
    background: url(../img/arrow_down.png) no-repeat 0 0 / 19px 11px;
}
@keyframes visualBg {
    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}
@keyframes visualTitle {
    to {
        opacity: 1;
        margin-top: 0;
        visibility: visible;
    }
}

/* report1 */
.report1 {
    position: relative;
    width: 100%;
    height: 100vh;
}
.report1 .tit_wrap {
    margin-bottom: 18%;
}
.report1 .tit_sub {
    padding-top: 10%;
    margin-bottom: 37px;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1px;
}
.report1 .tit_main {
    margin-bottom: 16px;
    font-size: 82px;
    line-height: 1.35;
}
.report1 .tit_desc {
    font-size: 20px;
    font-weight: 700;
    color: #999;
}
.report1 .mokup_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    aspect-ratio: 2;
}
.report1 .mokup_wrap img {
    width: 100%;
}
.report1 .text-data {
    margin-left: 54px;
    text-align: left;
}

/* report2 */
.report2 {
    width: 100%;
    height: 100vh;
}
.report2 .tit_main {
    margin-bottom: 60px;
    white-space: nowrap;
}
.report2 .sticky_wrap {
    position: relative;
    width: 100%;
    height: 100%;
}
.report2 .sticky {
    position: absolute;
    width: 100%;
    height: 100%;
}
.report2 .sticky img {
    display: block;
    margin: 0 auto 50px;
    width: 220px;
    aspect-ratio: 1;
}
.report2 .tit_wrap {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translateX(-50%);
}
.report2 .sticky_after {
    background-color: var(--main-color);
}
.report2 .sticky_after .tit_main {
    color: #fff;
}
.report2 .sticky_after .tit_desc {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

/* report3 */
.report3 {
    width: 100%;
    height: 100%;
}
.report3 .inner {
    padding-top: 4.5%;
}
.report3 .tit_main {
    padding: 60px 0;
}
.report3 .slide_wrap {
    display: flex;
    gap: 40px;
}
.report3 .slide_wrap li {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
    padding: 80px 40px;
    border: 1px solid #ccc;
    border-radius: 28px;
    text-align: center;
}
.report3 .slide_wrap strong {
    display: block;
    font-size: 72px;
    font-weight: 800;
}
.report3 .slide1 .text_wrap:nth-child(1) strong {
    text-align: left;
}
.report3 .slide1 .text_wrap:nth-child(2) strong {
    text-align: right;
}
.report3 .slide_wrap .face {
    position: absolute;
    width: 140px;
    aspect-ratio: 1;
}
.report3 .girl {
    background: url(../img/girl.png) no-repeat center / cover;
    top: 0;
    transform: translateY(-50%);
}
.report3 .boy {
    background: url(../img/boy.png) no-repeat center / cover;
    bottom: 0;
    transform: translateY(50%);
}
.report3 .slide_wrap .text_ballon {
    position: absolute;
}
.report3 .ballon1 {
    width: 33%;
}
.report3 .ballon2 {
    width: 37%;
}
.report3 .ballon3 {
    width: 47%;
}
.report3 .ballon4 {
    width: 72%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.report3 .slide2 p {
    margin-top: 26px;
}

/* report4 */
.report4 .scroll_wrap ul {
    overflow: hidden;
}
.report4 .scroll_wrap li {
    display: flex;
    position: relative;
    font-size: 64px;
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: -2px;
}
.report4 .scroll_wrap span {
    position: relative;
    padding: 70px 200px 70px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.report4 .scroll_wrap li:last-child span {
    border-top: none;
}
.report4 .scroll_wrap span::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    width: 120px;
    aspect-ratio: 1;
    background-size: 120px 120px;
}
.report4 .item_download::after {
    background: url(../img/emoji01.png) no-repeat 0 0;
}
.report4 .item_write::after {
    background: url(../img/emoji02.png) no-repeat 0 0;
}
.report4 .item_reply::after {
    background: url(../img/emoji03.png) no-repeat 0 0;
}
.report4 .item_chat::after {
    background: url(../img/emoji04.png) no-repeat 0 0;
}

/* report6 */
.report6 .history_wrap {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: linear-gradient(to top, #09e0ed, #1d9bf7 100%);
    border-radius: 28px;
    overflow: hidden;
}
.report6 .tit_wrap {
    margin-bottom: 54px;
    color: #fff;
}
.report6 .tit_sub {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
}
.report6 .slide_wrap {
    position: relative;
    left: 0;
    display: flex;
}
.report6 .slide_wrap img {
    width: 1800px;
    aspect-ratio: 3600/710;
}

/* report7 */
.report7 .tab_wrap .go_group {
    padding: 19px 28px;
    font-size: 18px;
    font-weight: 800;
    background-color: #000;
    color: #fff;
    border-radius: 28px;
}

/* report8 */
.report8 .inner {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.report8_right {
    background-color: #0e142b;
    color: #fff;
}

/* notice */
.notice .inner {
    padding-top: 6.6%;
}
.notice .notice_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.notice_wrap li {
    background-color: #f7f7f7;
    border-radius: 15px;
}
.notice .notice_title {
    display: block;
    position: relative;
    padding: 35px 40px;
    font-size: 20px;
    font-weight: 800;
    color: #444;
    cursor: pointer;
}
.notice .notice_title::after {
    content: "";
    position: absolute;
    right: 40px;
    width: 24px;
    height: 24px;
    background-image: url(../img/ico_fold.png);
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.5s ease-in-out;
}
.notice_title:hover::after {
    background-image: url(../img/ico_fold_hover.png);
}
.notice .notice_title.on::after {
    transform: rotate(180deg);
}
.notice .notice_title + .notice_list {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}
.notice .notice_list ul {
    padding: 0 40px 40px;
}
.notice_list li {
    position: relative;
    padding-left: 10px;
    font-size: 16px;
    line-height: 32px;
    color: #444;
}
.notice_list li::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    transform: translateY(-50%);
    width: 2px;
    height: 2px;
    background-color: #444;
    border-radius: 1px;
}
.notice_list li a {
    text-decoration: underline;
}
.notice_list li a:hover {
    color: var(--main-color);
}

/* popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 1001;
}
.popup.on{
    display: block;
}
/* popup_video */
.popup_video .video_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1080px;
    width: 100%;
    aspect-ratio: 1080/607;
}
.popup_video iframe {
    width: 100%;
    height: 100%;
}
.btn_close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 42px;
    height: 42px;
    background-image: url(../img/ico_close.png);
    background-size: 42px 42px;
    transition: background .25s linear;
}
.btn_close:hover{
    background-image: url(../img/ico_close_hover.png);
}