@charset "utf-8";

html,body,h1,h2,h3,h4,ul,p,em{
    margin: 0;
    padding: 0;
    /* font-weight: normal; */
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
    display: block;
}
img{
    vertical-align: top;
    border: none;
    -webkit-user-drag: none;
}
button{
    all:unset;
    cursor: pointer;
}
em,address{
    font-style: normal;
}